@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'RubikLight';
    src: url('./fonts/Rubik-Light.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf');
}


/*SCROLL BAR*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(121, 121, 121);
}

.app {
    background: rgb(35, 29, 133);
    background: linear-gradient(0deg, rgb(9, 59, 105) 8%, rgb(1, 103, 150) 91%);
    min-height: 100vh;
    user-select: none;
}

h2 {
    font-family: 'Rubik';
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 80px;
    font-weight: 400;
}

p {
    font-family: 'Poppins';
    color: white;
    font-weight: 200 !important;
    margin: 0px;
    font-size: 18px;
}

button {
    font-family: 'Poppins';
    font-size: 23px;
    display: block;
    border-radius: 10rem;
    border: solid;
    border-width: 2px;
    border-color: white;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: transparent;
    color: white;
}

button:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.link {
    text-decoration: none;
}


/*HOME PAGE*/

.homeTitle {
    font-family: 'Rubik';
    color: white;
    font-size: 100px;
    text-align: center;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 9vh;
    font-weight: 400;
}

.homeHeader {
    background: transparent;
    border-radius: 0 0 100% 100%;
    padding-bottom: 1px;
    padding-top: 20px;
    margin-bottom: 100px;
}

.homeButton {
    font-family: 'Poppins';
    font-size: 30px;
    margin: auto;
    margin-bottom: 7vh;
    display: block;
    border-radius: 10rem;
    border: solid;
    border-width: 2px;
    border-color: white;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 40%;
    background-color: transparent;
    color: white;
}

.homeButtonLink {
    text-decoration: none;
    width: 40%;
}

.quitDiv {
    position: fixed;
    bottom: 4vh;
    font-size: 20px;
    width: 100%;
}

.quitButton {
    display: block;
    font-size: 20px;
    width: 20%;
    margin: 0 auto;
}

.helpButton {
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 10;
    height: 50px;
    bottom: 10px;
    right: 10px;
    border: none;
}

.helpButton:hover {
    box-shadow: none;
}

.helpIcon {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 50px !important;
}


/*INTERVENTION PAGE*/

.saveInterventionTitle {
    color: black;
    text-align: left;
    font-size: 20px;
    margin-bottom: 15px;
}

.interventionContainer {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 50px;
}

.interventionStatesListTitle {
    font-size: 40px;
    text-align: center;
    margin-right: 20px;
}

.stateInProgress {
    font-size: 40px;
    text-align: center;
}

.clickStateToStart {
    font-size: 30px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.chronometer {
    font-size: 60px;
    text-align: center;
}

.currentState {
    font-weight: bolder !important;
    font-size: 40px;
    text-align: center;
}

.currentStateDescription {
    font-size: 25px;
    text-align: center;
}

.interventionStatesList {
    background-color: rgb(0, 76, 139);
    border-radius: 10px;
    padding: 0px !important;
    margin: 50px;
    margin-top: 20px;
}

.interventionStatesListItems {
    font-size: 30px;
}

.interventionStatesListItemsDiv {
    display: flex;
    overflow: hidden;
}

.interventionStatesListItemsDescription {
    font-size: 25px;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.passedStatesTable {
    background-color: rgb(0, 76, 139);
    border-radius: 10px;
    width: 100% !important;
    margin: auto;
}

.beginButton {
    background-color: white !important;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 250px;
    height: 80px;
}

.beginButtonText {
    color: black;
    font-size: 35px;
}

.backButtonIntervention {
    background-color: white !important;
    margin: auto !important;
    width: 180px;
    height: 50px;
}

.backButtonTextIntervention {
    color: black;
    font-size: 25px;
}

.exportButton,
.cancelInput,
.saveInterventionButton {
    background: transparent !important;
    border-color: black;
    border-radius: 8px;
    color: black !important;
    font-size: 17px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.saveInterventionButton {
    margin: 10px !important;
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}

.exportButton {
    margin-top: 20px !important;
}

.cancelInput {
    margin-top: 20px !important;
    margin-left: 20px !important;
}

.addCommentButton {
    margin: auto;
    margin-top: 20px !important;
    border-radius: 8px;
    font-size: 20px;
}

.quickaddState {
    font-size: 18px !important;
}

.dialogInputForm {
    width: 80%;
    margin-bottom: 15px !important;
}


/*NEW PAGES*/

.newPageTitle {
    font-size: 30px;
    color: black;
    margin-bottom: 15px;
}

.inputForm {
    width: 80%;
    margin-bottom: 40px !important;
}

.newContainer {
    background-color: white;
    border-radius: 10px;
    padding: 50px !important;
    margin-top: 50px;
}

.backButton {
    float: left;
    margin: 0;
}

.validateButton {
    float: right;
    margin: 0;
}


/*NEW STATE*/

.deleteActionButton:hover {
    box-shadow: none !important;
}


/*NEW SCENARIO*/

.searchList {
    background-color: rgb(0, 76, 139);
    border-radius: 10px;
    padding: 0px !important;
    height: 219px;
    margin-left: 0px !important;
    margin-right: 20px !important;
}

.matrixTransitionTitle {
    color: black;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.matrixLegendTitle {
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 20px;
}

.matrixLegendRow {
    color: black;
    margin-left: 20px;
    margin-top: 5px;
}

.statesSelectedTitle {
    color: black;
    font-size: 18px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.statesSelectedList {
    background-color: rgb(0, 76, 139);
    border-radius: 10px;
    padding: 0px !important;
    margin-left: 25px !important;
}

.matrixLegend {
    height: 30px;
    width: 70px;
    min-width: 70px;
    margin: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}


/*LIBRARY PAGE*/

.searchBar {
    height: 48px;
    width: 90%;
    background: #F2F2F2;
    border: 1px solid #CCCCCC;
    border-radius: 2rem;
    outline: none;
    font-size: 17px;
    font-family: 'Poppins';
    color: #737373;
    letter-spacing: 1px;
    text-indent: 2rem;
}

.fab {
    font-size: 23px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
}

.emptyListTitle {
    margin-top: 150px;
    text-align: center;
    font-size: 30px;
}

.list {
    border-radius: 10px;
    padding: 0px !important;
    margin-top: 50px !important;
}

.accordions {
    background-color: rgb(0, 76, 139) !important;
    color: white;
}

.divider {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.divider2 {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.expandIcon {
    color: white;
}

.accordionTitle {
    font-size: 25px;
}

.accordionsButton {
    color: white !important;
    font-size: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    margin: 5px !important;
}

.detailsLink {
    text-decoration: none;
    margin: 0 !important;
}


/*SCENARIO LIBRARY PAGE*/

.detailsMatrixDialog {
    color: black;
    font-size: 20px;
}

.detailsButton {
    font-size: 16px;
    border-radius: 10px;
    padding-right: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}

.column {
    flex-basis: 50%;
    margin: 5px;
}


/*STATE LIBRARY PAGE*/


/*MATRIX*/

.matrix {
    background-color: rgb(0, 76, 139);
    border-radius: 10px;
    margin: auto;
    margin-top: 0px;
}

.matrixHeadLine {
    color: white;
    justify-content: center;
    font-size: 18px !important;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 1px;
}

.matrixArrow {
    height: 30px;
}

.matrixHeadLineEnd {
    color: white;
    justify-content: center;
    font-size: 18px !important;
}

.matrixHeadLineStart {
    color: white;
    justify-content: center;
    font-size: 18px;
    border-right-style: solid;
    border-right-color: white;
    border-right-width: 1px;
    border-bottom-width: 0px;
}

.matrixBoxRedEnd {
    background-color: #D30000;
}

.matrixBoxGreenEnd {
    background-color: #43C900;
}

.matrixBoxOrangeEnd {
    background-color: #FE8A03;
}

.matrixBoxGreyEnd {
    background-color: #696969;
}

.matrixBox {
    border-right: white solid 1px;
    border-top : white solid 1px;
}

.matrixBoxRed {
    background-color: #D30000;
}

.matrixBoxGreen {
    background-color: #43C900;
}

.matrixBoxOrange {
    background-color: #FE8A03;
}

.matrixBoxGrey {
    background-color: #696969;
}

.matrixLetter {
    text-align: center;
    font-size: 22px;
}


/*TIMES TABLE*/

.timesTableArrow {
    height: 18px;
}

.timesTableText {
    font-size: 22px;
    text-align: center;
    padding: 10px;
}

.timesTableNumber {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}


/*SAFE DELETE */

.safeDeleteTitle {
    color: black;
    text-align: left;
    padding: 24px;
    font-size: 25px;
}

.safeDeleteSubTitle {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
}


/*HELP DIALOG*/

.helpDialogTitle {
    color: black;
    padding: 24px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
}

.helpDialogSubTitle {
    color: black;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}

.helpDialogButton {
    background: rgb(1, 103, 150);
    box-shadow: none !important;
    margin-bottom: 20px;
    width: 60%;
}

.helpDialogText {
    color: black;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.cursorBase {
    position: absolute;
    height: 50px;
}

.cursor1 {
    right: 20%;
    top: 60%;
}

.cursor2 {
    left: 20%;
    top: 60%;
}

.cursor3 {
    top: 15%;
    right: -1%;
}

.cursor4 {
    bottom: -7%;
    right: 39%;
}

.cursor5 {
    top: 45%;
    right: 28%;
}

.cursor6 {
    bottom: 16%;
    right: 46%;
}

.cursor7 {
    top: 45%;
    right: 46%;
}